<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <title>Turmalina</title>
</head>
<body>
    <div class="container">

        <header>
            <div>
                <img id="logo" src="/img/logo-2.png" alt=" logomarca Turmalina">
            </div>
            <div>
                <nav>
                    <a href="/html/home.html"> Home </a>
                    <a href="/html/sobre.html"> Sobre </a>
                    <a href="http://localhost:3000/catalogo/"> Joias </a>
                    <a href="#contato" > Contato</a>                  
                 </nav>
            </div>
            <div>
               <i class="fas fa-user fa-2x"></i>
               <i class="fas fa-shopping-bag fa-2x"></i>
            </div>
        </header>

        <main>
            <div class="foto-produto">
                <div class="descricao-produto">
                    <a href="#"><i class="far fa-heart"></i>Favoritar</a>
                    <a href="#"><i class="fas fa-share-alt"></i>Compartilhar</a>
                    <a href=""><img src=<%=Produto.img %> class="aneis" alt="Imagem do Produto"></a>
                </div>

                <div class="descricao-produto">

                    <h3><%= Produto.nome  %></h3>
                    <p> <%= Produto.descricao %> </p>
                </div>

                <div class="descricao-produto">
                    <p class="preco">R$ <%= Produto.valor  %> </p>
                    <p class="tipos-pagamentos"></p>

                <button id="btn-status" type="submit" onclick="addPedido('<%=Produto.id %>')"><i class="fas fa-shopping-bag fa-2x"></i>Comprar</button>
                    

    <!-- <script>
        let idPedido = 1;

        document.getElementById("btn-status").onclick = function () { myFunction(idPedido) };
        function myFunction(id_Pedido) {
            fetch(`http://localhost:3000/pedidos/cancelar/${id_Pedido}`, {
                "method": "PUT",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": "{\"status_pedido_id\":1}"
            })
                .then(response => {
                    console.log(response);
                })
                .catch(err => {
                    console.error(err);
                });
        }
    </script> -->

                </div>

            </div>
        </main>

        <footer>
            <section class="footer">
                <div id="contato">
                    <p>Turmalina Joias - Bright yourself!</p>
                    <p>Rua do Sol - Recife-PE</p>
                    <p>+55 (81) 95555-5555</p>
                    <p>contact@turmalina.com</p>
                    <p>OUR SOCIAL MEDIAS:</p>
                    <div>
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-whatsapp-square fa-2x"></i>
                        <i class="fab fa-twitter fa-2x"></i>
                    </div>
                </div>
            </section>
        </footer>
    </div>

</body>
</html> 
<script>
    function addPedido(id) {
        console.log(id)
        fetch("http://localhost:3000/pedidos/additem", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": `{\"valor\":100,\"quantidade\":1,\"produtos_id\":${id}}`
        })
            .then(response => {
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }
</script>