<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/pedidos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <title>Turmalina</title>
</head>
<body>
    <div class="container">

    <header>
        <div>
            <img id="logo" src="/img/logo-2.png" alt=" logomarca Turmalina">
        </div>
        <div>
            <nav>
                <a href="/html/home.html"> Home </a>
                <a href="/html/sobre.html"> Sobre </a>
                <a href="http://localhost:3000/catalogo/"> Joias </a>
                <a href="#contato" > Contato</a>                  
             </nav>
        </div>
        <div>
           <i class="fas fa-users fa-2x"></i>
           <i class="fas fa-shopping-bag fa-2x"></i>
        </div>
    </header>

    <main>
        <% let i=0; %>
        <% let qtd = [];
         let valorPedido = []; %> 

        <% let valorPedidoTotal = 0; %> 
            <% for (let item of itens) { %>
                <% i++; %> 
                <div class="pedido">
                    <img src="<%= item.produto.img %>" alt="">
                
                    <div class="infoPedido">
                        <div class="indices">
                            <p> Produto </p>
                            <p> Valor Unitário </p>
                            <p> Quantidade </p>
                            <p> Valor Total </p>
                        </div>
                        <div class="valores">
                            <p> <%= item.produto.nome %></p>
                            <p> R$ <%= item.valor %> </p>
                            <input type="number" value="1" min="1" max="10" id="<%=i%>" oninput="console.log('Hi', this.id)">
                            <p> R$ <%= item.valor_total %> </p>
                        </div>
                    </div>
                </div>
            <% } %>

            

            <script>
                // calcular(this.value, this.id, preco)
                // function calcular(valor, id, preco) {
                //     let qtd = [];
                //     let valorPedido = []
                //     qtd[id] = [valor];
                //     valorPedido[id] = qtd * preco;
                //     console.log(qtd[id], id, valorPedido[id]);                  
                // }
           
            </script>      
    
            <button> <a href="http://localhost:3000/pedidos/pagamento">Finalizar Compra</a> </button>
        
    </main>

    <footer>
        <section class="footer">
            <div id="contato">
                <p>Turmalina Joias - Bright yourself!</p>
                <p>Rua do Sol - Recife-PE</p>
                <p>+55 (81) 95555-5555</p>
                <p>contact@turmalina.com</p>
                <p>OUR SOCIAL MEDIAS:</p>
                <div>
                    <i class="fab fa-facebook-square fa-2x"></i>
                    <i class="fab fa-whatsapp-square fa-2x"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                </div>
            </div>
        </section>
    </footer>
    </div>
</body>
</html>